<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>A High Performance C# Search Engine - Lucene.Net</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <link rel="stylesheet" type="text/css" href="styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
  <link rel="stylesheet" type="text/css" href="styles/screen.css">
  <link rel="stylesheet" type="text/css" href="styles/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="styles/lucene.css">

  <link rel="icon" href="images/icon.png" type="image/png">
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
</head>

<body class="promo">
  <div id="wrapper">

    <div>
      <div id="header">
        <ul id="global-nav">
          <li><a href="http://www.apache.org">Apache.org</a></li>
          <li><a href="https://cwiki.apache.org/LUCENENET/">Wiki</a></li>
          <li><a href="https://issues.apache.org/jira/browse/LUCENENET">Issue Tracker (JIRA)</a></li>
          <li><a href="https://svn.apache.org/repos/asf/incubator/lucene.net/">Source</a></li>
          <li><a href="http://lucene.apache.org/">Lucene Project</a></li>
        </ul>
      
        <a href="http://incubator.apache.org/lucene.net/" id="logo">Apache Lucene.Net</a>
  
        <div id="main-nav" class="clearfix"> 
          <ul class="clearfix"> 
            <li class="incubatorlogo"></li> 
          </ul> 
          </div> 
        
      </div>
    </div>

    <div id="introduction">
      <div>

        <h1>A High Performance C# Search Engine</h1>
        <h2>Get invovled to help shape our future</h2>

        <div class="clearer"></div>

        <div class="column" style="width:325px;height:200px">
          <ul class="first calltoaction">
            <li><a data="#panel1" href="code.html">Grab the Code</a></li>
            <li><a data="#panel2" href="conversation.html">Join the Conversation</a></li>
            <li><a data="#panel3" href="roadmap.html" >Check out our Roadmap</a></li>
            <li><a data="#panel4" href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>
        
        <div class="column last">
          <div class="calltoactionpanel" id="panel1">
            <h3><a href="http://www.apache.org/dist/incubator/lucene.net/">Grab the Binary</a></h3>
            <p>The latest binary release is Lucene.Net 2.9.2 - March 06, 2011</p>
            <h3><a href="http://www.apache.org/dist/incubator/lucene.net/source/2.9.2-incubating/">Grab the Latest Source Release</a></h3>
            <p>The latest source release is 2.9.2  - March 06, 2011</p>
            <h3><a href="https://svn.apache.org/repos/asf/incubator/lucene.net/trunk/">Grab the Cutting Edge Source</a></h3>
            <p>Test drive the newest features we don't quite have ready for prime time</p>
            <h2></h2>
            <h3><a href="code.html">More code resources...</a></h3>
          </div>  
          <div class="calltoactionpanel" id="panel2">
            <h3><a href="conversation.html#mailinglists">Mailing Lists</a></h3>
            <p>We have a number of mailing lists for you to ask questiosn or keep aprised of the latest developer conversations</p>
            <h3><a href="https://issues.apache.org/jira/browse/LUCENENET">Issue Tracker</a></h3>
            <p>Check out what we are officially working on, what bugs we know about, and help us by submitting enhancements or bugs</p>
            <h2></h2>
            <h3><a href="conversation.html">More ways to join the conversation...</a></h3>
          </div>  
          <div class="calltoactionpanel" id="panel3">
            <h3><a href="roadmap.html">Our Roadmap</a></h3>
            <p>There are a number of things we are quickly trying to improve in Lucene.Net. From enhancing and optimizing the line by
            line porting of the Lucene Java source using Sharpen, to creating a more .Net friendly API that utilizes cutting edge parts
            of the .Net framework. We even have a lot of work that involves this website and reaching the community through blogs and 
            tutortials.</p>
            <h2></h2>
            <h3><a href="roadmap.html">Check out our roadmap...</a></h3>
          </div>  
          <div class="calltoactionpanel" id="panel4">
            <h3><a href="https://cwiki.apache.org/confluence/display/LUCENENET/Guides+and+Tutorials+from+around+the+web">Getting Started</a></h3>
            <p>Everything you need to know to get up and running</p>
            <h3><a href="faq.html">Official FAQ</a></h3>
            <p>This is a collection of frequently asked questions we've received from the community</p>
            <h3><a href="https://cwiki.apache.org/LUCENENET/">Wiki</a></h3>
            <p></p>
            <h2></h2>
            <h3><a href="faq.html">More frequently asked questions...</a></h3>
          </div>  
        </div>
        
        <div class="clearer"></div>
      </div>
    </div>

    <div id="content">
      
    <div class="two-column clearfix">
      <div class="column" style="width:600px;">
        {% block content %} {{ content|markdown }} {% endblock %}
      </div>
      
      <div class="column last" style="width:300px">
        <h2>Who Uses Lucene.Net?</h2>
        <h3>Open Source Initiatives</h3>
        <ul>
          <li><a href="http://ireaper.codeplex.com/">iReaper</a></li>
          <li><a href="http://linqtolucene.codeplex.com/">Linq to Lucene</a></li>
          <li><a href="http://lucandranet.codeplex.com/">Lucandra.NET</a></li>
          <li><a href="http://www.mindtouch.com/">MindTouch</a></li>
          <li><a href="http://orchard.codeplex.com/">Orchard</a></li>
          <li><a href="http://ravendb.net/">RavenDB</a></li>
          <li><a href="http://subtextproject.com/">SubText</a></li>
          <li><a href="http://umbraco.codeplex.com">Umbraco</a></li>
        </ul>
        <h3>Commercial Products</h3>
        <ul>
          <li><a href="http://autodesk.com/">Autodesk</a></li>
          <li><a href="http://www.topgear.com/">BBC UK Top Gear site</a></li>
          <li><a href="http://www.epro.com/">Epro, Bluewire Technologies</a></li>
          <li><a href="http://www.adenin.com/">IntelliEnterprise Intranet Suite</a></li>
          <li><a href="http://www.koders.com/">Koders.com, Black Duck Software</a></li>
          <li><a href="http://www.oxan.com">Oxford Analytica</a></li>
          <li><a href="http://discover-e-legal.com/aboutparadigm.html">Paradigm</a></li>
          <li><a href="http://datassimilate.com/PSindex.html">PowerSearch</a></li>
        </ul>
        <h3>...any many more</h3>
      </div>
    </div>

    </div>

  </div>

  <div id="footer">
    <ul id="footer-nav">
      <li>Copyright 2011 The Apache Software Foundation, Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0.</a> <br>
        Apache Lucene.Net, Lucene.Net, Apache, the Apache feather logo, and the Apache Lucene.Net project logo are 
        trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks 
        of their respective owners.</li>
    </ul>
  </div>

  <script type="text/javascript">
    $(function() {
      $(".calltoaction li a").mouseenter(function () {
        //hide panels 
        $('.calltoactionpanel').hide();
        
        //show panel
        var panel = $(this).attr("data");
        $(panel).show();
      });
      
      $("#panel1").show();
    });
  </script>
</body>
</html>
