<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Grab the Code - Lucene.Net</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" type="text/css" href="styles/reset.css">
	<link rel="stylesheet" type="text/css" href="styles/layout.css">
	<link rel="stylesheet" type="text/css" href="styles/screen.css">
	<link rel="stylesheet" type="text/css" href="styles/print.css" media="print">
	<link rel="stylesheet" type="text/css" href="styles/lucene.css">

	<link rel="icon" href="images/icon.png" type="image/png">
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
</head>

<body class="promo">
	<div id="wrapper">

		<div>
			<div id="header">
				<ul id="global-nav">
				  <li><a href="http://www.apache.org">Apache.org</a></li>
				  <li><a href="https://cwiki.apache.org/LUCENENET/">Wiki</a></li>
				  <li><a href="https://issues.apache.org/jira/browse/LUCENENET">Issue Tracker (JIRA)</a></li>
				  <li><a href="https://svn.apache.org/repos/asf/incubator/lucene.net/">Source</a></li>
				  <li><a href="http://lucene.apache.org/">Lucene Project</a></li>
				</ul>
			
				<a href="http://incubator.apache.org/lucene.net/" id="logo">Apache Lucene.Net</a>
	
				<div id="main-nav" class="clearfix"> 
					<ul class="clearfix"> 
						<li class="incubatorlogo"></li> 
					</ul> 
    			</div> 
				
			</div>
		</div>

		<div id="introduction">
			<div>
                {{ tagline|safe }}
				<div class="clearer"></div>
			</div>
		</div>

    <div id="content">
      
		<div class="two-column clearfix">
			<div class="column" style="width:600px;">
				{% block content %} {{ content|markdown }} {% endblock %}
			</div>
			
			<div class="column last" style="width:300px">
				<h2>Lucene.Net</h2>
				<ul>
					<li><h3><a href="index.html">Home</a></h3></li>
					<li><h3><a href="code.html">Grab the Code</a></h3></li>
					<li><h3><a href="conversation.html">Join the Conversation</a></h3></li>
					<li><h3><a href="roadmap.html">Roadmap</a></h3></li>
					<li><h3><a href="faq.html">FAQ</a></h3></li>
				</ul>
				<h3></h3>
				<h2>Apache Resources</h2>
				<ul>
					<li><h3><a href="http://lucene.apache.org/">Lucene Project</a></h3></li>
					<li><h3><a href="http://www.apache.org/">Apache.org</a></h3></li>
					<li><h3><a href="http://incubator.apache.org/">Apache Incubator</a></h3></li>
				</ul>
			</div>
		</div>

    </div>

  </div>

	<div id="footer">
		<ul id="footer-nav">
			<li>Copyright 2011 The Apache Software Foundation, Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0.</a> <br>
				Apache Lucene.Net, Lucene.Net, Apache, the Apache feather logo, and the Apache Lucene.Net project logo are 
				trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks 
				of their respective owners.</li>
		</ul>
	</div>
</body>
</html>