# this is the git pattern ignore file for the project.
# Git can be used with svn http://code.google.com/p/msysgit/
bin
Bin
obj
*.user
*.suo
*.bak
*.vs10x
*.VisualState.xml
*.userprefs
*.pidb
*.ide
*.project.lock.json
test-results
build/artifacts
build/bin
_ReSharper*
*.orig
*.cache
src/core/Messages/
test/core/Messages/
src/core/QueryParser/
test/core/QueryParser/
src/contrib/
test/contrib/
src/core/obj/
src/core/bin/
test/core/obj/
test/core/bin/
bin/
obj/
doc/
src/demo/
packages/
