<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="icunet" value="https://www.myget.org/F/icu-dotnet/api/v3/index.json" />
    <add key="dotnet-cat" value="https://www.myget.org/F/dotnetcat/api/v3/index.json" />
    <add key="nugetorg" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>