<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="icunet" value="https://www.myget.org/F/icu-dotnet/api/v2" />
    <add key="dotnet-cat" value="https://www.myget.org/F/dotnetcat/api/v2" />
    <add key="nugetorg" value="https://www.nuget.org/api/v2" />
  </packageSources>
</configuration>