<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="cli" value="localhost-runsettings" />
    <Parameter name="lucene.version" value="4.8.3" />

    <Parameter name="tests:locale" value="fr-FR" />

  </TestRunParameters>
</RunSettings>