body {
    font-family: sans-serif;
    font-size: 14px;
}

details {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

section {
    margin-top: 1rem;
    border-top: 1px solid #708090;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #708090;
    padding: 0.5rem;
}

th {
    background-color: #f0f0f0;
}

div.subtext {
    font-size: 0.8rem;
    color: #708090;
}

span.count {
    margin-left: 0.5rem;
    background-color: #708090;
    color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

table.stats-table {
    width: auto;

    th {
        text-align: left;
    }
}
