<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lucene.Net.Expressions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lucene.Net.Expressions.Properties.Settings>
            <setting name="abs" serializeAs="String">
                <value>System.Math, Abs, 1</value>
            </setting>
            <setting name="acos" serializeAs="String">
                <value>System.Math, Acos, 1</value>
            </setting>
            <setting name="acosh" serializeAs="String">
                <value>Lucene.Net.Util.MathUtil, Acosh, 1</value>
            </setting>
            <setting name="asin" serializeAs="String">
                <value>System.Math, Asin, 1</value>
            </setting>
            <setting name="asinh" serializeAs="String">
                <value>Lucene.Net.Util.MathUtil, Asinh, 1</value>
            </setting>
            <setting name="atan" serializeAs="String">
                <value>System.Math, Atan, 1</value>
            </setting>
            <setting name="atan2" serializeAs="String">
                <value>System.Math, Atan2, 2</value>
            </setting>
            <setting name="atanh" serializeAs="String">
                <value>Lucene.Net.Util.MathUtil, Atanh, 1</value>
            </setting>
            <setting name="ceil" serializeAs="String">
                <value>System.Math, Ceiling, 1</value>
            </setting>
            <setting name="cos" serializeAs="String">
                <value>System.Math, Cos, 1</value>
            </setting>
            <setting name="cosh" serializeAs="String">
                <value>System.Math, Cosh, 1</value>
            </setting>
            <setting name="exp" serializeAs="String">
                <value>System.Math, Exp, 1</value>
            </setting>
            <setting name="floor" serializeAs="String">
                <value>System.Math, Floor, 1</value>
            </setting>
            <setting name="haversin" serializeAs="String">
                <value>Lucene.Net.Util.SloppyMath, Haversin, 4</value>
            </setting>
            <setting name="ln" serializeAs="String">
                <value>System.Math, Log, 1</value>
            </setting>
            <setting name="log10" serializeAs="String">
                <value>System.Math, Log10, 1</value>
            </setting>
            <setting name="logn" serializeAs="String">
                <value>Lucene.Net.Util.MathUtil, Log, 2</value>
            </setting>
            <setting name="max" serializeAs="String">
                <value>System.Math, Max, 2</value>
            </setting>
            <setting name="min" serializeAs="String">
                <value>System.Math, Min, 2</value>
            </setting>
            <setting name="pow" serializeAs="String">
                <value>System.Math, Pow, 2</value>
            </setting>
            <setting name="sin" serializeAs="String">
                <value>System.Math, Sin, 1</value>
            </setting>
            <setting name="sinh" serializeAs="String">
                <value>System.Math, Sinh, 1</value>
            </setting>
            <setting name="sqrt" serializeAs="String">
                <value>System.Math, Sqrt, 1</value>
            </setting>
            <setting name="tan" serializeAs="String">
                <value>System.Math, Tan, 1</value>
            </setting>
            <setting name="tanh" serializeAs="String">
                <value>System.Math, Tanh, 1</value>
            </setting>
        </Lucene.Net.Expressions.Properties.Settings>
    </userSettings>
</configuration>