<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tempDir" value="c:\windows\temp\Lucene.Net-Tests"/>
  </appSettings>
  <!-- when i add this setting and run tests, i get 0 success, 0 failures, 0 tests not run
  <appSettings>
    <add key="Lucene.Net.CompressionLib.class" value="Lucene.Net.Index.Compression.SharpZipLibAdapter"/>
  </appSettings>
  -->
</configuration>